<!DOCTYPE html>
<html>
  <head>
    <title>Analytics</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if session[:account] %>
      <div class="d-flex flex-row w-100 justify-content-end">
        <%= link_to('Log out', logout_path, style: 'float: right') %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
