<ul class="list-group">
  <% @tasks.each do |task| %>
    <li class="list-group-item">
      <p>Description: <%= task.description %></p>

      <p>
        Status:
        <% if task.done? %>
          <span class="badge bg-success">
            <%= task.status.humanize %>
          </span>
        <% else %>
          <span class="badge bg-warning">
            <%= task.status.humanize %>
          </span>
        <% end %>
      </p>

      <p>Assignee: <%= task.assignee.full_name %></p>

      <%= form_with url: "/tasks/#{task.id}/#{task.done? ? 'in_progress' : 'done'}", method: :patch do |form| %>
        <%= form.submit "Move to \"#{task.done? ? 'In progress' : 'Done'}\"" %>
      <% end %>
    </li>
  <% end %>
</ul>
